* {
  box-sizing: border-box;
}
form {
  width: 300px;
  background: linear-gradient(#bd09b7, #6b4cf5);
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}
input[type='text'],
select {
  padding: 7px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
}
h1 {
  margin: 1px 10px 15px 0px;
}

button {
  padding: 5px 15px;
}
.btn {
  text-align: right;
}

@media only screen and (max-width: 499px) {
  form {
    width: 100%;
  }
}
